.DS_Store

docker-compose.override.yml

media/*
!media/index.html
!media/.htaccess

tmp/*
!tmp/index.html
!tmp/.htaccess

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

var/cache/*
!var/cache/index.html
!var/cache/.htaccess

var/logs/*
!var/logs/index.html
!var/logs/.htaccess

var/sessions/*
!var/sessions/index.html
!var/sessions/.htaccess

application/config/config.php
application/config/database.php

application/third_party/codeigniter-forensics/*


vendor
# IDE Files
#-------------------------
/nbproject/
.idea/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

### CodeIgniter template
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

#node packages
nodejs/node_modules/*
nodejs/log.txt
nodejs/mysql.js
nodejs/server.log
htpassword
.htaccess
